@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <p>This is my pet-project Url Shortener.</p>
    <p>I will be glad if you like repository (⭐) on <a href="https://github.com/navarti/UrlShortener">Git Hub</a>🥹</p>
    <p>Also, I am looking forward any offer on <a href="https://www.linkedin.com/in/danylo-pavlusenko-59145925b/">Linked In</a></p>
</div>
