@{
    ViewData["Title"] = "Main";
}

@section Scripts 
{
     <script type="text/javascript" src="~/js/UrlPair/Index.js"></script>
}

<h1 class="text-center display-4">URL Shortener</h1>
<div class="text-center">
    <label for="longUrl">Enter Long URL:</label>
    <input type="text" id="longUrl" name="longUrl" />
    <button id="shortenBtn">Shorten URL</button>
</div>

<div class="text-center" id="shortenedUrlContainer" style="display: none;">
    <label for="shortenedUrl">Shortened URL:</label>
    <a id="shortenedUrl" name="shortenedUrl"/>
</div>